* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
}
body {
  background-color: rgb(243, 243, 243);
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 100vh;
}
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.instagram-phone img {
  height: 42rem;
}
.instagram-continue {
  display: flex;
  align-items: center; /* horizontal */
  justify-content: space-around; /* vertical */
  flex-direction: column;
  width: 44%;
  min-height: 34rem;
  min-width: 20rem;
  max-width: 24rem;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
.group:nth-child(1) {
  min-height: 19rem;
}
.instagram-logo {
  height: 3rem;
}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo img {
  height: 6rem;
}
.instagram-login {
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}
.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}
.not-account,
.line {
  color: rgb(160, 160, 160);
}
.link-blue {
  color: #0095f6;
}
.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.app-download {
  height: 3rem;
  width: 10rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.app-download:nth-child(1) {
  background-image: url("./img/apple-button.png");
}
.app-download:nth-child(2) {
  background-image: url("./img/googleplay-button.png");
}
footer {
  margin: 40px;
}
.line {
  width: 100%;
  text-align: center;
}
.line ul li {
  display: inline;
  position: relative;
  padding: 5px;
}
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}
@media (max-width: 876px) {
  .instagram-phone {
    display: none;
  }
  .instagram-wrapper {
    justify-content: space-around;
  }
}
